<AuthorizeView>
    <Authorized>
        <a class="btn btn-primary btn-sm" href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <br/>
        <form method="post" action="Identity/Account/LogOut">           
                <input class="btn btn-info btn-sm btn-block" type="submit" value="Log Out"/>            
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-info btn-sm" href="Identity/Account/Register">Register</a>
        <a class="btn btn-info btn-sm" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
