<div class="top-row pl-4 navbar navbar-dark">
    <div>
        <img src="icon-512.png" class="img-fluid"/>
    </div>
    @*<a class="navbar-brand" href="">MBA</a>*@
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <LoginDisplay></LoginDisplay>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa fa-truck-moving fa-fw mr-3" aria-hidden="true"></span> Run-Sheet
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="viewrunsheets">
                <span class="oi oi-transfer" aria-hidden="true"></span> View Archive
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="export">
                <span class="fa fa-file-export fa-fw mr-3" aria-hidden="true"></span> Export
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="managevehicles">
                <span class="fa fa-toolbox fa-fw mr-3" aria-hidden="true"></span> Vehicles
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="page">
                <span class="fa fa-toolbox fa-fw mr-3" aria-hidden="true"></span> Help
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
