@inherits LayoutComponentBase

<div class="main" style="background-image: none">
    <div class="top-row px-4">
        <div class="col-2">
            <img src="icon-512.png" class="img-fluid" />
        </div>
        <img src="MbaSpread.png" class="img-fluid" />
        <img src="richardm-smith-pic.jpg" class="img-fluid" />
        <img src="ScottyV2.jpg" class="img-fluid" />
        <img src="todd.png" class="img-fluid" />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

