@page "/export"
@attribute [Authorize(Roles = "Admin, Manager, User")]

<h3>Export</h3>

@inject NavigationManager NavMan

<AuthorizeView Roles="Admin, Manager">
    <select @onchange="HandleUserNameChange">
        @if (_users != null)
        {
            <option selected>Choose User...</option>
            @foreach (var user in _users)
            {
                <option value="@user.Id">@user.UserName</option>
            }
        }
    </select>
</AuthorizeView>

<input type="date" @onchange="HandleDateChange"/>

<hr />
@if (_runsheet != null)
{
    <a class="btn btn-warning" href="pdfview/@_runsheet.Id">Print View</a>
}

<TripTableComponent Runsheet="@_runsheet"></TripTableComponent>

