@page "/"

<div class="container">
    <div class="row">
        <h1>Mobile Bins Australia</h1>
    </div>
    <div class="row">
        <img class="img-fluid" src="icon-512.png"/>
    </div>
    <div>
        <h3>Please Login And Use The Menu On The Left To Navigate</h3>
    </div>
</div>

